KERNEL=="ttyACM*", ATTRS{idProduct}=="0042", ATTRS{idVendor}=="2341", ATTRS{devpath}=="1.1.1.4", SYMLINK+="mega_base"
KERNEL=="ttyACM*", ATTRS{idProduct}=="0608", ATTRS{idVendor}=="05e3", ATTRS{devpath}=="1.1.1", SYMLINK+="tablet"

KERNEL=="ttyUSB*", ATTRS{idProduct}=="ea60", ATTRS{idVendor}=="10c4", ATTRS{devpath}=="1.1.1.2", SYMLINK+="rplidar"
KERNEL=="ttyUSB*", ATTRS{idProduct}=="6001", ATTRS{idVendor}=="0403", ATTRS{devpath}=="1.1.1.3", SYMLINK+="gyro"